{% extends 'admin/admin.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{{ parent() }}

    {{ form_start(form) }}

		<div class="wrapper">
			<div class="inner">
					<h3>Brazil Burger</h3>
                        <label class="form-group-f">
                            {{ form_widget(form.nom)}}
						<span>Entrer Le Nom </span>
					</label>
                    <label class="form-group-f">
                        {{ form_widget(form.prix) }}						
                    <span>Entrer Le Prix </span>
					</label>
					<label class="form-group-f">
						{{form_widget(form.image)}}
                    <span class"mb-3">Entrer L'image</span>
					</label>
					
					<button type="submit">Submit 
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
			</div>
		</div>
 
    {{ form_end(form) }} 

{% endblock body %}
